@brand-color: #34495e;

.navbar-text {
    float: right;
}

.bottom-menu {
    margin-top: 50px;
    margin-bottom: 0px !important;
    font-size: 13px;
}

#message-text {
    width: 100%;
    height: 100%;
    font-family: 'Inconsolata', monospace;
    font-size: 16px;
}

.form-control {
    width: 100%;
}

.address-container {        
    input {
        display: inline;
        width: auto;
    }
    
    #to-city {
        width: 49%;
    }
    
    #to-state {
        width: 50%;
    }
}

#main-form .row {
    margin-left: 0px;
    margin-right: 0px;
}

.contact-details {
    margin-bottom: 20px;
    border: 1px solid @brand-color;
    position: relative;

    input {
        margin-bottom: 5px;
        border: none;
        border-bottom: 2px solid @brand-color;
        border-radius: 0;
        height: auto;
    }

    .sender-container {
        float: none;
        display: inline-block;
        top: 15px;
        position: absolute;
        input { 
            font-size: 13px;         
            width: auto;
        }
    }
    .recipient-container {
        float: none;
        display: inline-block;
        margin-left: 330px;
        margin-top: 100px;
        margin-bottom: 60px;
    }

    // From http://stackoverflow.com/a/21044768/2371147
    .stamp {
        width: 80px;
        height: 80px;
        display: inline-block;
        background: white;
        position: absolute;
        top: 15px;
        right: 15px;

        -webkit-filter: drop-shadow(0px 0px 2px rgba(0,0,0,0.25));
        /*The stamp cutout will be created using crisp radial gradients*/
        background: radial-gradient(
            transparent 0px,
            transparent 4px,
            white 4px,
            white
        );

        /*reducing the gradient size*/
        background-size: 20px 20px;
        /*Offset to move the holes to the edge*/
        background-position: -10px -10px;

        div {
            width: 60px;
            height: 60px;
            background: white;
            margin: 10px;

            img {
                width: 60px;
                height: 60px;
            }
        }
    }
}

.message-container {
    height: 420px;
    margin-bottom: 20px;
}

.input-container {
    height: 100%;
}

.letter-preview {
    border: 1px solid #efefef;
    height: 100%;
    overflow-y: auto;
    position: relative;
}

#message-contents {
    font-family: 'Open Sans Condensed', sans-serif;
    margin-top: 3.25in;
}

.payment-container {
    margin-top: 55px;
    text-align: center;

    #payment-btn-stripe {
        margin-bottom: 10px;
        width: 160px;

        .fui-credit-card {
            left: -11px;
        }
    }

    #payment-btn-twitter {
        width: 160px;
    }
}

.page {
    page-break-after: always;
    box-sizing: border-box;

    .page-content {
        position: relative;
        width: 5in;
        max-width: 8.125in;
        max-height: 10.625in;
        left: 0.1875in;
        top: 0.1875in;
    }

    #return-address-window {
        position: absolute;
        left: .625in;
        top: .5in;
        width: 3.25in;
        height: .875in;
        background-color: rgba(127,127,127,0.2);

        img {
            position: absolute;
            width: 0.8in;
            height: 0.8in;
            right: 0.0375in;
            top: 0.0375in;
        }
    }

    #return-address-text {
        position: absolute;
        left: .07in;
        top: .07in;
        width: 2.05in;
        font-size: .11in;
    }

    #recipient-address-window {
        position: absolute;
        left: .625in;
        top: 1.75in;
        width: 4in;
        height: 1in;
        background-color: rgba(127,127,127,0.2);
    }

    #recipient-address-text {
        position: absolute;
        left: .07in;
        top: .05in;
        width: 2.92in;
        height: .9in;
    }
}