{% extends "base.html" %}

{% block additional_header %}
{% assets "css_index" %}<link rel="stylesheet" href="{{ ASSET_URL }}"/>{% endassets %}
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Inconsolata' rel='stylesheet' type='text/css'>{% endblock %}

{% block additional_js %}
{% assets "js_index" %}<script type="text/javascript" src="{{ ASSET_URL }}"></script>{% endassets %}
<script src="https://checkout.stripe.com/checkout.js"></script>{% endblock %}

{% block content %}
<div class="container">
    <form id="main-form" method="POST" action="/send-letter">
    <div class="row">
        <div class="contact-details">
            <div class="col-md-4 sender-container">
                <input id="sender-name" name="sender-name" type="text" placeholder="Your Name" class="form-control" />
                <input id="sender-address" name="sender-address" type="text" placeholder="Your Street Address" class="form-control" />
                <input id="sender-location" name="sender-location" type="text" placeholder="Your City And State" class="form-control" />
            </div>
            <!-- Let's create a CSS3 stamp -->
            <div class="stamp">
                🐌
            </div>
            <div class="col-md-3 recipient-container">
                <input id="to-name" name="to-name" type="text" placeholder="Their Name" class="form-control" />
                <input id="to-address" name="to-address" type="text" placeholder="Their Street Address" class="form-control" />
                <input id="to-location" name="to-location" type="text" placeholder="Their City And State" class="form-control" />
            </div>
        </div>  
    </div>
    </form>
    <div class="row message-container">
        <div class="col-md-6 input-container">
            <textarea id="message-text" name="message-text">You can write your letter in this space. Whatever you write will show up immediately on the preview to the right (or bottom if you're on mobile).

We support Markdown so you can do things like **bold** text or _underline_ important parts of your letter.

The gray blocks above this text show what will be visible within the window of the envelope.

If you're sending a letter to a nerdy friend you can even do:

    def fizzBuzz():
        print "I don't know how to do this problem"
            </textarea>
        </div>
        <div class="letter-preview col-md-6">
            <div class="page">
                <div class="page-content">
                    <div id="picture-container"></div>
                    <div id="message-contents"></div>
                </div>

                <div id="return-address-window">
                    <div id="return-address-text">
                        Your Name<br>
                        Your Address<br>
                        Your City And State<br>
                    </div>
                    <div id="return-address-image" style="display: none;">
                        <img src="" class="img-circle" />
                    </div>
                </div>

                <div id="recipient-address-window">
                    <div id="recipient-address-text">
                        Their Name<br>
                        Their Address<br>
                        Their City And State<br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 form-group">
            <select name="service" class="form-control select select-inverse select-block mbm">
                <option value="0">Regular USPS Mail</option>
                <option value="3">Registered USPS Mail</option>
                <option value="2">Certified USPS First Class</option>
            </select>
        </div>
        <div class="col-md-3 payment-container">
            <button id="payment-btn-stripe" class="btn btn-social-twitter">
                <span class="fui-credit-card"></span> Send For <span class="payment-price">$2.99</span>
            </button>
            <a id="payment-btn-twitter" class="btn btn-social-twitter" target="_blank" href="{{ twitter_url }}">
                <span class="fui-twitter"></span> Send With A Tweet
            </a>
        </div>
    </div>
    <div class="shadow-div">
    </div>
</div>

<!--stick modal here -->

<div id="after-send-attempt" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <p></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock %}